*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    background: deepskyblue;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    font-size: 50px;
    color: aliceblue;
    text-decoration: none;
}